EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_APP_NAME=Mediora

# ── AWS / API Gateway ─────────────────────────────────────────
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_AWS_REGION=ap-south-1
EXPO_PUBLIC_S3_BUCKET=mediora-storage
